@tailwind base;
@tailwind components;
@tailwind utilities;

.form-inputs input {
  @apply p-2 rounded-lg bg-gray-200 w-full pl-4 invalid:border-pink-500 invalid:text-pink-500 focus:invalid:border-pink-500 
 focus:invalid:ring-pink-500 focus:ring-1 border focus:outline-none focus:ring-blue-400 focus:border-blue-400;
}

.form-labels h1 {
  @apply text-lg font-bold;
}

.chip-labels h1 {
  @apply text-2xl font-bold;
}

.blur-out {
  @apply pointer-events-none blur-md top-0;
}

@media (max-width: 530px) {
  .hide {
    @apply hidden;
  }
}

.no-wrap {
  @apply whitespace-nowrap overflow-hidden;
}

.onboarding-container {
  @apply flex flex-col items-center justify-start pt-4 mx-4 w-full max-w-96 max-h-screen mb-14;
}

.onboarding-form {
  @apply flex flex-col items-start justify-start space-y-2 form-labels bg-white p-4 rounded-3xl w-full max-h-full overflow-y-scroll;
}

.next-back button {
  @apply bg-med-blue text-white rounded-lg w-full h-10;
}

.nav-bar-btn {
  @apply w-10 h-10 p-2 box-content 
  hover:rounded-xl hover:bg-med-blue 
   duration-300 ease-linear
    cursor-pointer shadow-2xl ;
    transition-property: border-radius;
}

.mobile-nav-btn {
  @apply w-10 h-10 p-2 box-content duration-300 ease-linear cursor-pointer;

  transition-property: border-radius;
}

.gutter {
  scrollbar-gutter: stable;
}




